<div class="services-small">
    <ul id="menu-image-menu">
      <li>
        <%= link_to 'webinars' do %>
          <%= image_tag('elivewebinars-secciones-menu-01.png')%>
        <% end %>
      </li>
      <li>
        <%= link_to 'incompany' do %>
          <%= image_tag('elivewebinars-secciones-menu-03.png')%>
        <% end %>
      </li>
      <li>
        <%= link_to 'renta' do %>
          <%= image_tag('elivewebinars-secciones-menu-05.png')%>
        <% end %>
      </li>
      <li>
        <%= link_to 'share' do %>
          <%= image_tag('elivewebinars-secciones-menu-07.png')%>
        <% end %>
      </li>
    </ul>
</div>
