<div class="services">
	<ul id="menu-image-menu">
    <li>
      <%= link_to('#', 'data-service' => '#webinars', 'class' => 'know-more') do %>
        <%= image_tag("elivewebinars-secciones-menu-01.png") %>
      <% end %>
      <div class="service-description webinars">
        <div class="top-divider"></div>
        <div class="tagline"><strong>Seminarios Web</strong> a tu alcance<sup>®</sup></div>
				<ul>
					<li>Collaborate with small groups</li>
					<li>Provide instant online demos</li>
				</ul>
				<div class="learn-more">
          <%= link_to 'Quiero saber más!', '#', 'class' => 'know-more', 'data-service' => '#webinars' %>
        </div>
        <div class="bottom-divider"></div>
      </div>
    </li>
    <li>
      <%= link_to('#', 'data-service' => '#incompany', 'class' => 'know-more') do %>
        <%= image_tag("elivewebinars-secciones-menu-03.png") %>
      <% end %>
      <div class="service-description incompany">
        <div class="top-divider"></div>
        <div class="tagline"> <strong>Convierte </strong> tus seminarios<sup>®</sup></div>
				<ul>
					<li>Collaborate with small groups</li>
					<li>Provide instant online demos</li>
				</ul>
				<div class="learn-more">
          <%= link_to 'Quiero saber más!', '#', 'class' => 'know-more', 'data-service' => '#incompany' %>
        </div>
        <div class="bottom-divider"></div>
      </div>
    </li>
    <li>
      <%= link_to('#', 'data-service' => '#renta', 'class' => 'know-more') do %>
        <%= image_tag("elivewebinars-secciones-menu-05.png") %>
      <% end %>
      <div class="service-description renta">
        <div class="top-divider"></div>
        <div class="tagline"><strong>Renta</strong> nuestros servicios<sup>®</sup></div>
				<ul>
					<li>Collaborate with small groups</li>
					<li>Provide instant online demos</li>
				</ul>
				<div class="learn-more">
          <%= link_to 'Quiero saber más!', '#', 'class' => 'know-more', 'data-service' => '#renta' %>
        </div>
        <div class="bottom-divider"></div>
      </div>
    </li>
    <li>
      <%= link_to('#', 'data-service' => '#share', 'class' => 'know-more') do %>
        <%= image_tag("elivewebinars-secciones-menu-07.png") %>
      <% end %>
      <div class="service-description share">
        <div class="tagline"><strong>Consulta</strong> nuestros materiales<sup>®</sup></div>
				<ul>
					<li>Collaborate with small groups</li>
					<li>Provide instant online demos</li>
				</ul>
				<div class="learn-more">
          <%= link_to 'Quiero saber más!', '#', 'class' => 'know-more', 'data-service' => '#share' %>
        </div>
      </div>
    </li>
  </ul>
</div> 
