<div class="services">
	<ul id="menu-image-menu">
    <li>
      <%= link_to('#', 'data-service' => '#webinars', 'class' => 'know-more') do %>
        <%= image_tag("elivewebinars-secciones-menu-01.png") %>
      <% end %>
      <div class="service-description webinars">
        <div class="top-divider"></div>
        <div class="tagline">Seminarios en <strong>VIVO</strong> por internet</div>
				<ul>
					<li>Seminarios a la medida</li>
					<li>Marketing de tus productos</li>
					<li>Inscripción a webinars públicos</li>
				</ul>
				<div class="learn-more">
          <%= link_to '¡Quiero saber más!', '#', 'class' => 'know-more', 'data-service' => '#webinars' %>
        </div>
        <div class="bottom-divider"></div>
      </div>
    </li>
    <li>
      <%= link_to('#', 'data-service' => '#incompany', 'class' => 'know-more') do %>
        <%= image_tag("elivewebinars-secciones-menu-03.png") %>
      <% end %>
      <div class="service-description incompany">
        <div class="top-divider"></div>
        <div class="tagline"> <strong>Transforma </strong> tu entrenamiento</div>
				<ul>
					<li>Estrategias instruccionales</li>
					<li>Soluciones de aprendizaje</li>
					<li>Formación e-learning al personal</li>
				</ul>
				<div class="learn-more">
          <%= link_to '¡Quiero saber más!', '#', 'class' => 'know-more', 'data-service' => '#incompany' %>
        </div>
        <div class="bottom-divider"></div>
      </div>
    </li>
    <li>
      <%= link_to('#', 'data-service' => '#share', 'class' => 'know-more') do %>
        <%= image_tag("elivewebinars-secciones-menu-07.png") %>
      <% end %>
      <div class="service-description share">
        <div class="top-divider"></div>
        <div class="tagline"><strong>Comparte</strong> y aprende</div>
				<ul>
          <li>Contenidos para redes sociales</li>
          <li>Portal colaborativo</li>
          <li>Aula de trabajo</li>
				</ul>
				<div class="learn-more">
          <%= link_to '¡Quiero saber más!', '#', 'class' => 'know-more', 'data-service' => '#share' %>
        </div>
        <div class="bottom-divider"></div>
      </div>
    </li>
    <li>
      <%= link_to('#', 'data-service' => '#renta', 'class' => 'know-more') do %>
        <%= image_tag("elivewebinars-secciones-menu-05.png") %>
      <% end %>
      <div class="service-description renta">
        <div class="tagline"><strong>Renta</strong> nuestros servicios</div>
				<ul>
          <li>LMS y servicios administrativos</li>
          <li>Contenidos para LMS</li>
          <li>Extensiones</li>
				</ul>
				<div class="learn-more">
          <%= link_to '¡Quiero saber más!', '#', 'class' => 'know-more', 'data-service' => '#renta' %>
        </div>
      </div>
    </li>
  </ul>
</div> 
