<%= render 'shared/banner'%>
<%= render 'all_extended' %>
<div id="webinars" class="service">
  <%= render 'webinars' %>
</div>
<div id="incompany" class="service">
  <%= render 'incompany' %>
</div>
<div id="renta" class="service">
  <%= render 'renta' %>
</div>
<div id="share" class="service">
  <%= render 'share' %>
</div>
